.codex
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pre-commit-cache/
.pytest_cache/
.pytype/
.pyre/
.ruff_cache/
.venv/
*.egg-info/
*.py,cover
*.py[cod]
*.pyd
*.pyo
*.spec
*$py.class
__pycache__/
build/
dist/
env/
ENV/
htmlcov/
pip-wheel-metadata/
site/
venv/
